<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>79643E573E93C289EEFD4D2B2C2DD3EF8D1135B4</string>
				<key>dateExpires</key>
				<string>12/8/26</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>2</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>79643E573E93C289EEFD4D2B2C2DD3EF8D1135B4</string>
						<key>dateExpires</key>
						<string>12/8/26</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IONGeolocationLib.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q5U58YNG6X</string>
						<key>name</key>
						<string>Junsun Song</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q5U58YNG6X.com.junsun.treasurehunter</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>Q5U58YNG6X</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0062ddc0-51d9-4520-9587-f2b789a9edbe</string>
				<key>dateExpires</key>
				<string>1/18/27</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.junsun.treasurehunter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q5U58YNG6X</string>
				<key>name</key>
				<string>Junsun Song</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
