<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272231760809-2o2f5jbkhvj9kcqor4mihkpch70gf87o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272231760809-2o2f5jbkhvj9kcqor4mihkpch70gf87o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272231760809-5stf664ls0iiipun83svoim8dk89fadd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCalJr56c_oDF6Dqvm1m4uFYM-SPdY3ZHw</string>
	<key>GCM_SENDER_ID</key>
	<string>272231760809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.junsun.treasurehunter</string>
	<key>PROJECT_ID</key>
	<string>treasure-hunter-474414</string>
	<key>STORAGE_BUCKET</key>
	<string>treasure-hunter-474414.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272231760809:ios:00373dd4dc9c41b53ffab8</string>
</dict>
</plist>